.profile__edit-button {
  background-image: url(../../../images/Vector.svg);
  background-position: center;
  background-color: #000000;
  height: 24px;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 669px) {
  .profile__edit-button {
    height: 18px;
    padding: 0;
  }
}

.profile__edit-button:hover {
  opacity: .6;
}