.list__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  min-width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list__like:hover {
  opacity: 0.5;
}
