.popup__container {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  position: fixed;
}

@media (min-width: 320px) and (max-width: 669px) {
  .popup__container {
    max-width: 282px;
  }
}