.popup__close {
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -42px;
  right: -39px;
}

@media (min-width: 320px) and (max-width: 669px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
    background-size: cover;
  }
}

.popup__close:hover {
  opacity: .6;
}