.header {
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid #545454;
  min-height: 74px;
  padding-top: 45px;
}
@media (min-width: 320px) and (max-width: 669px) {
    .header {
        min-width: 320px;
        padding-top: 28px;
        min-height: 56px;
      }
}