.profile__hobby {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 669px) {
  .profile__hobby {
    font-size: 14px;
    line-height: 27px;
    display: flex;
    justify-content: center;
  }
}