.profile__add-button {
  background-image: url(../../../images/Vector+.svg);
  background-position: center;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  max-width: 150px;
  min-height: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 669px) {
  .profile__add-button {
    min-width: 282px;
  }
}

.profile__add-button:hover {
  opacity: .6;
}