.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 3px 18px;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 669px) {
  .profile__info {
    grid-template-columns: 189px 18px;
    min-width: 282px;
    justify-content: center;
    padding-bottom: 10px;
    gap: 14px 10px;
    padding-right: 21px;
    box-sizing: border-box;
    justify-content: end;
  }
}