.popup__form-button {
  background: #000000;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 669px) {
  .popup__form-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__form-button:hover {
  background: #000000;
  opacity: 0.8;
}