@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/caption/caption.css);

@import url(./blocks/content/content.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__inscription/footer__inscription.css);

@import url(./blocks/header/header.css);
@import url(./blocks//header/__logo/header__logo.css);

@import url(./blocks/list/list.css);
@import url(./blocks/list/__cave/list__cave.css);
@import url(./blocks/list/__img/list__img.css);
@import url(./blocks/list/__item/list__item.css);
@import url(./blocks/list/__like/list__like.css);
@import url(./blocks/list/__like/__like-counter/list__like-counter.css);
@import url(./blocks/list/__like/__like-button/list__like-button.css);
@import url(./blocks/list/__like/__like-button/_active/list__like-button_active.css);
@import url(./blocks/list/__text/list__text.css);

@import url(./blocks/page/page.css);

@import url(./blocks/photo-grid/photo-grid.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__open-cards/popup__open-cards.css);
@import url(./blocks/popup/__add-cards/__add-cards.css);
@import url(./blocks/popup/__profile/popup__profile.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__item/_type/popup__item_type_error.css);
@import url(./blocks/popup/__item-error/popup__item-error.css);
@import url(./blocks/popup/__item-error/_active/popup__item-error_active.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__enter/popup__enter.css);
@import url(./blocks/popup/__form-button/popup__form-button.css);
@import url(./blocks/popup/__form-button/_inactive/popup__form-button_inactive.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__hobby/profile__hobby.css);
@import url(./blocks/profile/__img/profile__img.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__ava-button/profile__ava-button.css);

@import url(./blocks/trash/trash.css);
