.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  padding: 34px 64px 24px 36px;
}
@media (min-width: 320px) and (max-width: 669px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        min-width: 238px;
        padding: 25px 22px;
      }
}