.list-item__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding-right: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-item__like:hover {
  opacity: .5;
}